<%= form_for @quote, url: book_quotes_path, html: {multipart: true} do |f| %>
<%= errors @quote %>

<div class="field">
  <%= f.label "Quote #{:method}" %>
  <br>
  <%= f.hidden_field :id %>
  <%= f.text_area :text, class: "form-control" %>
</div>

<div class="actions">
  <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
</div>

<% end %>
