<div>
  <p> <%= @quote.text %> </p>
  <%= link_to "like me", like_book_quote_path(), style: "float: right;" %>
</div>


<% if @quote.user_id == current_user.id %>

<div class="btn btn-default">
  <%= link_to('Create', new_book_quote_path) %>
</div>
<div class="btn btn-default">
  <%= link_to('Edit', edit_book_quote_path)  %>
</div>

<div class="btn btn btn-danger">
  <%= link_to 'Destroy', book_quote_path(@quote.book_id, @quote.id), method: :delete, data: { confirm: 'Are you sure?' }%>
</div>

<% end %>
</td>
