<div class="modal fade in" id="sign_up">
  <div class="modal-dialog">
    <div class="modal-content">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h2>Sign up</h2>
  </div>

  <div class="modal-body">
    <%= form_for(User.new, url: registration_path(:user), class: "form-signin", html: {id: 'sign_up_user', :'data-type' => 'json'}, remote: true) do |f| %>
      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div><%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %></div>
    <% end %>
  </div>
  <div class="modal-footer">
  </div>

</div>
</div>
</div>
