<div class="row">
  <div>
    <h1>Listing Books</h1>
    <hr/>
    <p id="notice">
      <%= notice %>
    </p>

  </div>
</div>

<div class="row">

  <div clas="col-xs-6"></div>
  <div clas="col-xs-6">
    <div class="btn btn-default">
      <%= link_to 'New Book', new_book_path %>
    </div>

    <hr/>

    <table class="table">
      <% @books.each do |book| %>
      <tr>
        <td>
        <table class="table">
          <tr>
            <td> <%= link_to book_path(book) do %>
            <%= image_tag(book.picture, :width=>150) %>
            <% end %>
            </td>
          </tr>
          <tr>
            <td><%= link_to book_path(book)do %>Name: <%= book.name %><% end %> </td>
          </tr>
          <tr>
            <td>Author: <%= book.author %></td>
          </tr>
        </table><td>
      </tr>
      <% end %>
    </table>
  </div>

</div>

<br>
